.container {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to right bottom,
		#1d0202,
		#380a0c,
		#55090f,
		#74060d,
		#920505
		);
}

.loading {
	--speed-of-animation: 0.9s;
	--first-color: #4c86f9;
	--second-color: #49a84c;
	--third-color: #f6bb02;
	--fourth-color: #f6bb02;
	--fifth-color: #2196f3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	gap: 6px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.span {
	width: 4px;
	height: 50px;
	background: var(--first-color);
	animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.child2 {
	background: var(--second-color);
	animation-delay: -0.8s;
}

.child3 {
	background: var(--third-color);
	animation-delay: -0.7s;
}

.child4 {
	background: var(--fourth-color);
	animation-delay: -0.6s;
}

.child5 {
	background: var(--fifth-color);
	animation-delay: -0.5s;
}

@keyframes scale {
	0%,
	40%,
	100% {
		transform: scaleY(0.05);
	}

	20% {
		transform: scaleY(1);
	}
}